.last__section{
   padding-top: 120px;
   padding-bottom: 47px;
}
.last__container{
 max-width: 878px;
 margin: auto;
}
.last__container-title{
color: #FFF;
font-family: Gilroy;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 58.333% */
}
.last__container-second-title{
   margin-top: 80px;
   color: #FFF;
font-family: Gilroy;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 104% */
}
.last__container-text{
   margin-top: 50px;
   color: #929292;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}