.blog__page {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.search__container {
   min-width: 288px;
   /* max-width: 288px; */
}
.blog__page-container {
   max-width: 288px;
   margin: auto;
}
.search__form {
   display: none;
}
.blog__page-galery-container-ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.blog__page-galery-container-ul-li-img {
   height: 328px;
}
.blog__page-container-title {
   color: #fff;
   font-family: Gilroy;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.blog__page-galery-container {
   margin-top: 30px;
}
.li__bottom-item {
   border: 1px solid #fcd54c;
   width: 100%;
   height: 248px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   animation-play-state: running;
   transition: background-color 1s ease;
   padding: 20px;
}
.li__bottom-item:hover,
.li__bottom-item:focus {
   background-color: #fcd54c;
}
.li__bottom-item:hover > .li__bottom-item-title,
.li__bottom-item:focus > .li__bottom-item-title,
.li__bottom-item:hover > .li__bottom-item-text,
.li__bottom-item:focus > .li__bottom-item-text,
.li__bottom-item:hover > .li__bottom-item-info,
.li__bottom-item:focus > .li__bottom-item-info {
   color: #272727;
   stroke: #272727;
}
.li__bottom-item-title {
   color: #fff;
   font-family: Gilroy;
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 35px; /* 145.833% */
}
.li__bottom-item-text {
   padding-top: 22px;
   color: #929292;
   font-family: Gilroy;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px; /* 150% */
}
.li__bottom-item-info {
   display: flex;
   align-items: center;
   padding-top: 28px;
   color: #fff;
   stroke: #fff;
}
.li__bottom-item-info-another-text {
   color: inherit;
   font-family: Work Sans;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 24px; /* 150% */
}
.li__bottom-item-arrow {
   width: 11.322px;
   height: 20.025px;
   margin-left: 20px;
}
.blog__page-pagination {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 30px;
   margin-bottom: 77px;
}
.blog__page-pagination-button-previous,
.blog__page-pagination-button-next,
.blog__page-pagination-li {
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
}
.blog__page-pagination-ul{
   display: flex;
   gap: 10px;
}
@media screen and (min-width: 768px) {
   .blog__page-container {
      max-width: 694px;
   }
   .search__container {
      min-width: 694px;
      display: flex;
      justify-content: space-between;
   }
   .search__form {
      display: flex;
      justify-content: space-between;
      border: 1px solid #929292;
      min-width: 510px;
      /* height: 47px; */
      height: 100%;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 10px;
      margin-left: 76px;
   }
   .search__form-input {
      background-color: #272727;
   }
   .search__form-button {
      /* padding-top: 8px;
      padding-right: 22px;
      padding-bottom: 8px; */
   }
   .blog__page-container-title {
      font-size: 50px;
   }
   .blog__page-galery-container-ul {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 29px;
   }
   .blog__page-galery-container-ul-li {
      width: 332px;
   }
   .li__bottom-item-text {
      font-size: 16px;
   }
}
@media screen and (min-width: 1920px) {
   .search__container {
      min-width: 100%;
      /* margin-inline: 62px; */
      padding-inline: 40px;
   }
   .blog__page-container-title {
      font-size: 60px;
   }
   .blog__page-container {
      min-width: 1200px;
   }
   .blog__page-galery-container {
      margin-top: 70px;
   }
}
