.footer {
   margin-top: 40px;
   border-top: 1px solid #929292;
   padding-inline: 40px;
   padding-bottom: 62px;
}
.footer__container {
   padding-top: 40px;
}
.footer__logo {
   display: flex;
}
.footer__organize-container{
   margin-top: 40px;
}
.footer__navigation-container {
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.footer__navigation--all-ul {
}
.footer__nav--item-title {
   color: #e8e8e8;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__nav-strelochka {
   width: 14px;
   height: 9px;
   transition: transform 1s cubic-bezier(0.56, 1.92, 0.38, -0.96);
}

.footer__nav--item {
   display: grid;
   grid-template-rows: 21px 0fr;
   overflow: hidden;
   transition: grid-template-rows 1s ease;
}
.footer__nav--item-div {
   overflow: hidden;
}
.footer__nav--item--open {
   grid-template-rows: 21px 1fr;
}
.footer__nav--item--open .footer__nav-strelochka {
   transform: rotate(180deg);
}

.footer__nav--item-div--ul {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-top: 12px;
   padding-left: 12px;
}
.nav__open-buy--li {
   color: #e8e8e8;
   font-family: Work Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}
.contact {
   padding-top: 30px;
}
.contact__title-footer {
   color: #e8e8e8;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.contact__info-footer {
   color: #e8e8e8;
   font-family: Work Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 160%;
   margin-top: 19px;
}
.contact__mail-footer {
   color: #e8e8e8;
   font-family: Gilroy;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-top: 13px;
}
.footer__container-button {
   margin-top: 52px;
   width: 100%;
   height: 67px;
   flex-shrink: 0;
   background: #fcd54c;
}
.footer__links-last {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 20px;
   padding-bottom: 20px;
   gap: 14px;
}
.for__border-top {
   
}
.list__from-header {
   display: flex;
   justify-content: center;
   gap: 40px;
}
.last {
   color: #e8e8e8;
   font-family: Lexend;
   font-size: 12px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}
.decoration {
   border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.hero__sociall-links--icons {
   fill: #e8e8e8;
}
@media screen and (min-width: 768px) {
   .footer {
      padding-bottom: 30px;
   }
   .footer__container {
      display: flex;
      flex-direction: column;
   }
   .footer__logo {
      margin: auto;
   }
   .contact__info-footer {
      max-width: 200px;
   }
   .footer__nav--item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 15px;
   }
   .contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
   .footer__container-button {
      width: 166px;
      height: 40px;
      font-size: 14px;
      margin: 0;
      margin-top: auto;
   }
   .footer__links-last {
      justify-content: space-between;
      flex-direction: row-reverse;
      padding-inline: 40px;
      padding-top: 30px;
      padding-bottom: 40px;
      align-items: center;
   }
}
@media screen and (min-width: 1920px) {
   .footer{
      padding-inline: 56px;
   }
   .footer__nav--item {
      grid-template-rows: 21px 1fr;
   }
   .footer__navigation-container {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
   }
   .footer__organize-container {
      display: flex;
      gap: 184px;
   }
   .footer__nav--item {
      border: none;
   }
   .footer__nav--item-div{
      margin-top: 40px;
   }
   .footer__nav--item-div--ul {
      padding: 0;
   }
   .nav__open-buy--li {
      padding-left: 0px;
   }
   .footer__nav-strelochka {
      display: none;
   }
   .contact {
      flex-direction: column;
      justify-content: start;
      padding: 0;
   }
   .footer__container-button {
      margin-top: 78px;
   }
   .footer__links-last{
      padding-inline: 56px;
   }
   .footer__organize-container{
      margin-top: 50px;
   }
   .contact__info-footer{
      margin-top: 40px;
   }
   .last{
      font-size: 18px;
      line-height: 160%;
   }
}
