.footer {
   margin-top: 40px;
   position: relative;
}
.footer__container {
   max-width: 284px;
}
.footer__logo {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
}
.logo-link_img {
   flex-shrink: 0;
   position: absolute;
   left: 0;
   top: 0;
}
.logo-text1 {
   color: #fff;
   font-family: Gilroy;
   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.logo-text2 {
   color: #fff;
   font-family: Work Sans;
   font-size: 11px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.footer__container-list {
}
.footer__container-list--li {
}
.contact {
}
.contact__title {
}
.contact__info {
}
.contact__mail {
}
.footer__container-button {
   width: 284px;
   height: 67px;
   flex-shrink: 0;
   background: #fcd54c;
}
