.galery{
   margin-top: 50px;
   display: flex;
   justify-content: center;
}
.galery__container{
   max-width: 290px;
   display: grid;
   grid-template-columns: 1fr;
   gap: 10px;
}
.img__1{
   height: 100%;
}
.img__2{
   height: 100%;
}
.img__3{
   height: 100%;
}
.galery__zoom{
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: #00000080;
   top: 0;
   left: 0;
   opacity: 1;
   z-index: 999;
}
.galery__zoom-img{
   width: 50%;
   height: 50%;
   aspect-ratio: 1 / 1;
}
.galery__zoom---none{
   display: none;
   opacity: 0;
}
@media screen and (min-width: 768px) {
   .galery__container{
      min-width: 690px;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
   }
   .img__1{
   
   }
   .img__2{
    
   }
   .img__3{
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
   }
}
@media screen and (min-width: 1920px) {
   .galery{
      margin-top: 212px;
   }
   .galery__container{
      min-width: 1110px;
   }
}