.owners {
   margin-top: 50px;
   overflow: hidden;
   position: relative;
}
.owners__container {
   padding-top: 36px;
   display: flex;
   flex-direction: column;
}
.owners__wrapper {
   padding-top: 36px;
   display: flex;
   align-items: stretch;
   min-width: 290px;
   max-width: 290px;
}
.owners__pfoto {
   width: 68px;
   height: 68px;
   flex-shrink: 0;
   border-radius: 50%;
   position: absolute;
   left: 23px;
   top: -36px;
}
.koma {
   position: absolute;
   text-align: center;
   right: 21px;
   top: -52px;
   color: #fcd54c;
   font-family: Work Sans;
   font-size: 100px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}
.owners__information {
   position: relative;
   padding-top: 50px;
   padding-inline: 24px;
   border: 1px solid #fcd54c;
   padding-bottom: 15px;
   box-sizing: border-box;
}
.owners__name {
   color: #fff;
   font-family: Gilroy;
   font-size: 25px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.owners__link {
   color: #fff;
   font-family: Work Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.owners__link--a {
   color: #fcd54c;
   font-family: Work Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.owners__text {
   color: #929292;
   font-family: Work Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-top: 8px;
}
.owners__pagination {
   padding-top: 20px;
   display: flex;
   gap: 13px;
   margin: auto;
}
.owners__pagination--button-active {
   background-color: #fcd54c;
   border-radius: 50%;
   width: 13px;
   height: 13px;
   flex-shrink: 0;
}
.owners__pagination--button {
   background-color: #929292;
   border-radius: 50%;
   width: 13px;
   height: 13px;
   flex-shrink: 0;
}
.owners__wrapper--none {
   display: none;
}
.owners__wrapper--list {
   display: flex;
   gap: 30px;
   align-items: stretch;
   width: 100%;
   position: relative;
   left: 30px;
   transition: all 0.63894228s linear 0s;
}
.owners__wrapper--up{
   position: relative;
   top: -25px;
   opacity: 0.5;
}
@media screen and (min-width: 768px) {
   .owners__wrapper {
      min-width: 330px;
      max-width: 330px;
   }
   .owners__wrapper--list {
   }
   .owners__container {
      
   }
   .owners__wrapper--list {
      left: 41;
   }
}
@media screen and (min-width: 1920px) {
   .owners__wrapper--list {
      left: 405;
      gap: 51px;
   }
   .owners__wrapper {
      min-width: 525px;
      max-width: 525px;
   }
}
