<section class="articles">
  <div class="articles__container">
    <div class="articles__content">
      <h2 class="articles__title">We will also propose</h2>
      <a class="articles__link" href=""
        ><p class="second__text">View all articles</p>
        <img
          class="first__arrow"
          src="./images/Group 91strelka.svg"
          alt="arrow"
      /></a>
    </div>
    <div class="articles__container--items">
      <img class="first__image" src="./images/Domik.png" alt="image" />
      <div class="wrapper">
        <div class="info">
          <h3 class="info__title">Mortgage Registration</h3>
          <p class="info__text">
            A person applying for a mortgage in the United Arab Emirates must
            meet the following requirements
          </p>

          <a class="info__link" href=""
            ><p class="info__more">Learn more</p>
            <img
              class="second__arrow"
              src="./images/Arrow (1).svg"
              alt="arrow"
            />
          </a>
        </div>
      </div>
      <img class="second__image" src="./images/DomikTwo.png" alt="image" />
    </div>
  </div>
</section>
