<section class="articles">
   <div class="articles__container">
      <div class="articles__content">
      <h2 class="articles__title">Useful articles</h2>
      <a  class="articles__link" href=""><p class="second__text">View all articles</p>
         <img class="first__arrow" src="./images/Group 91strelka.svg" alt="arrow"></a>
      </div>
      <img class="first__image" src="./images/350x350art.png" alt="image">
      <div class="wrapper">
         <div class="info">
            <p class="date">Jule 03, 2022</p>
            <h3 class="info__title">Discover Architecture</h3>
            <p class="info__text">Projects for many large domestic and 
               foreign corporations, enterprises in many elds such</p>
               
               <a class="info__link" href=""><p class="info__more">Learn more</p>
                  <img class="second__arrow" src="./images/Arrow (1).svg" alt="arrow">
               </a>
         </div>
      </div>
      <img class="second__image" src="./images/350x350(2).png" alt="image">
   </div>
</section>