<section class="challenge">
  <div class="challenge__container">
    <div class="stats__container">
      <div class="stats__container-item">
        <span class="stats__container-item-num">20</span>
        <p class="stats__container-item-text">YEARS WORKING</p>
      </div>
      <div class="stats__container-item">
        <span class="stats__container-item-num">7</span>
        <p class="stats__container-item-text">TALANTED
         MANAGERS</p>
      </div>
      <div class="stats__container-item">
        <span class="stats__container-item-num">100<sup>+</sup></span>
        <p class="stats__container-item-text">COMPLITLY
         PROJECTS</p>
      </div>
      
    </div>
    <h2 class="challenge__container-title">Challenge</h2>
    <p class="challenge__container-next-text">
      To and from, fascinated her: every pebble, ant, stick, leaf, blade of
      grass, and crack in the sidewalk was something to be picked up, looked at,
      tasted, smelled, and shaken. Everything was interesting to her. She knew
      nothing. I knew everything…been there, done that. She was in the moment, I
      was in the past. She was mindful. I was mindless.
    </p>
    <h2 class="challenge__container-title-secondt-title">Everything along the way</h2>
    <p class="challenge__container-next-text">
      One touch of a red-hot stove is usually all we need to avoid that kind of
      discomfort in the future. The same is true as we experience the emotional
      sensation of stress from our first instances of social rejection or
      ridicule. We quickly learn to fear and thus automatically avoid
      potentially stressful situations of all kinds, including the most common
      of all: making mistakes.
    </p>
    <div class="visual__line"></div>
    <ul class="challenge__container-ul">
      <li class="challenge__container-ul-li">Everything along the way, to and from, fascinated her: every pebble, ant,
         stick, leaf, blade of grass, and crack in the sidewalk was something to be
         picked up, looked at, tasted, smelled, and shaken.</li>
      <li class="challenge__container-ul-li">Everything was
         interesting to her. She knew nothing. I knew everything…been there, done
         that. She was in the moment, I was in the past. She was mindful. I was
         mindless.</li>
      <li class="challenge__container-ul-li">One touch of a red-hot stove is usually all we need to avoid
         that kind of discomfort in the future. The same is true as we experience
         the emotional sensation of stress from our first instances of social
         rejection or ridicule.</li>
      <li class="challenge__container-ul-li">We quickly learn to fear and thus automatically
         avoid potentially stressful situations of all kinds, including the most
         common of all: making mistakes.</li>
    </ul>
  </div>
</section>
