<section class="contact__us">
   <div class='contact__container'>
      <h2 class="contact__text">Do you have any questions?</h2>
      <h3 class="contact__title">Contact us</h3>
      <form class="contact__form" action="">
         <label for="email">
         <input type="email" placeholder="Enter your mail" class="contact__form--input">
         </label>
         <button type="submit" class="contact__form--button"><p class="contact__form--button-text">Send</p></button>
      </form>
   </div>
</section>