<section class="contact__page">
  <div class="contact__page-container">
    <h1 class="contact__page-container-title">Contact</h1>
    <div class="contact__page-container-two">
      <h2 class="contact__page-container-two-title">
        Dubai, <span class="contact__page-container-two-span">UAE</span>
      </h2>
      <p class="contact__page-container-two-text">
        269 King Str, 05th Floor, Utral Hosue Building,<br> Dubai, VIC 3000, UAE.
      </p>
      <a class="contact__page-container-two-telephone" href="tel:+9903449564050"
        >+99 (0) 344 956 4050</a
      >
      <a class="contact__page-container-two-email" href="mailto:info@sparch.co">
        <span class="contact__page-container-two-email-first-span">Email: </span
        ><span class="contact__page-container-two-email-second-span"
          >info@sparch.co</span
        ></a
      >
      <p class="contact__page-container-two-links">Follow us:</p>
      <p class="contact__page-container-two-time">
        <span class="contact__page-container-two-time-first">Work Hours:</span>
        <span class="contact__page-container-two-time-second"
          >Monday - Friday : 08h00 - 17h30</span
        >
      </p>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d59925.37338968645!2d55.143298002508374!3d25.11760991878813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1692805596482!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
