<section class="contact__last">
  <div class="contact__last-container">
    <h1 class="contact__last-container-title">
      <span class="contact__last-container-title-first">Be in touch <br></span>
      <span class="contact__last-container-title-second">with us</span>
    </h1>
    <form action="" class="contact__last-container-form">
      <input
        type="text"
        placeholder="Name"
        class="contact__last-container-form-input"
      />
      <input
        type="email"
        placeholder="Email *"
        class="contact__last-container-form-input"
      />
      <input
        type="text"
        placeholder="Subject"
        class="contact__last-container-form-input"
      />
      <textarea
        name=""
        placeholder="Message *"
        class="contact__last-container-form-input contact__last-container-form-input--textarea"
      ></textarea>
      <button type="submit" class="contact__last-container-button">
        SUBMIT
      </button>
    </form>
  </div>
</section>
