<section class="section__expertise">
  <div class="first__part">
    <h2 class="expertise">Our expertise</h2>
    <h3 class="expertise__title">
      "The best apartment in Dubai" we will find your dream
    </h3>
    <p class="expertise__p">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nibh
      massa, euismod ut libero id, blandit posuere augue. Morbi porta volutpat
      diam egestas ultrices. Phasellus tempus fringilla neque, nec viverra orci
      tristique vel. In efficitur vehicula magna, varius pellentesque nisl
      vehicula vel. Aenean vel sem ac elit commodo finibus in nec massa. Nulla
      facilisi. Nulla vestibulum venenatis sollicitudin. Etiam auctor mollis
      justo eu tincidunt. Aliquam varius varius tortor. Cras id venenatis sem.
      Quisque ut risus ex. Sed et tempor massa. Praesent ac eros hendrerit,
      congue justo ac, molestie urna. Fusce nec neque vitae dolor dapibus
      elementum. Maecenas nec orci quis sem condimentum dapibus varius a lorem.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</section>
<section class="placeholder">
  <div>
    <!-- <img src="./images/placeholderrrr.png" alt="placeholder"> -->
    <iframe class="video"
      width="100%" 
      src="https://www.youtube.com/embed/AxFQY6qcOrg"
      title="15 Things To Do and See in Dubai 2023"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</section>
<section class="second__part">
    <div class="second__part--expression">
      <p class="second__part--expression-text">
        “Don’t limit yourself. Many people limit themselves to what they think
        they can do. You can go as far as your mind lets you. What you believe,
        remember, you can achieve.”
        <span class="second__part--expression-text--span">— Mary Kay Ash</span>
      </p>
    </div>
   <ul class="second__part--ul">
      <li class="second__part--ul-li">
      <img class="second__placeholder" src="./images/second_placeholder.png" alt="second__placeholder" />
    <p class="second__part-p">
      Vivamus non diam vel lorem efficitur mattis in gravida ante. Ut
      ullamcorper dapibus ante, eu tincidunt orci feugiat vel. Curabitur eget
      lectus lectus. Pellentesque malesuada, felis at accumsan interdum, nisl mi
      fermentum est, eu suscipit dui lorem a dui. Aliquam rhoncus risus in leo
      vestibulum efficitur. Suspendisse tortor quam, faucibus a lacinia a,
      bibendum vitae quam. Suspen disse et metus et orci rutrum dictum eu eu
      nibh. Suspendisse blandit in diam in rhoncus. Nam volutpat hendrerit enim,
      sed aliquet quam gravida at. Nullam dictum sagittis nisi, eu porta sem
      mollis eu. Nulla faucibus sed ipsum sed sodales. Curabitur varius iaculis
      felis, in aliquet sem suscipit quis. Ut vulputate, magna ac bibendum
      elementum, nulla magna tincidunt urna, a venenatis dolor arcu sed leo.
    </p>
   </li>
   <li class="second__part--ul-li">
      <img class="third__placeholder" src="./images/placplaceholder3.png" alt="third__placeholder" />
    <p class="third__placeholder--text">
      Vivamus non diam vel lorem efficitur mattis in gravida ante. Ut
      ullamcorper dapibus ante, eu tincidunt orci feugiat vel. Curabitur eget
      lectus lectus. Pellentesque malesuada, felis at accumsan interdum, nisl mi
      fermentum est, eu suscipit dui lorem a dui. Aliquam rhoncus risus in leo
      vestibulum efficitur. Suspendisse tortor quam, faucibus a lacinia a,
      bibendum vitae quam. Suspen disse et metus et orci rutrum dictum eu eu
      nibh. Suspendisse blandit in diam in rhoncus. Nam volutpat hendrerit enim,
      sed aliquet quam gravida at. Nullam dictum sagittis nisi, eu porta sem
      mollis eu. Nulla faucibus sed ipsum sed sodales. Curabitur varius iaculis
      felis, in aliquet sem suscipit quis. Ut vulputate, magna ac bibendum
      elementum, nulla magna tincidunt urna, a venenatis dolor arcu sed leo.
    </p>
   </li>
  </ul>
</section>

