<section class="faq">
  <div class="faq__container">
    <h2 class="faq__title">FAQ</h2>
    <ul class="faq__list">
      <li class="faq__list-li">
         <div class="faq__list-li--first">
        <p class="faq__list-li--text">
          The largest and oldest Quotations Page on the Web with about 30
          categories
        </p>
        <button class="faq__list-li--img">
          <img src="./images/Group 93.svg" alt="" />
        </button>
        </div>
        <div class="faq__list-li--info">
        <p class="faq__list-li--two">Sed in 
         sem pellentesque, 
         eleifend erat vitae, 
         tincidunt turpis. Pellentesque augue elit, rutrum 
         sit amet commodo vel, porta quis purus. 
         Nullam faucibus, odio eu bibendum auctor,
          eros dolor aliquet purus, sit amet 
          pellentesque neque est id tortor. In egestas, 
          erat a dapibus dapibus, mi augue ornare lorem, 
          nec pretium ligula purus nec tellus. Aenean 
          a scelerisque nisi. Nullam pretium fermentum nunc,
           feugiat placerat urna rutrum eget. Nullam mattis 
           justo consequat risus. Donec imperdiet enim id 
           efficitur pharetra. Nam sollicitudin at est 
           eget auctor. Ut sed ante quis nulla tincidunt 
           auctor. Quisque accumsan pretium tincidunt. 
           Etiam viverra ultrices est vitae suscipit. 
           Pellentesque elementum purus non nisl pharetra 
           consequat. Nunc in venenatis orci.</p>
         </div>
      </li>
      <li class="faq__list-li">
         <div class="faq__list-li--first">
        <p class="faq__list-li--text">
          A huge collection of inspirational quotes, thoughts of greatest minds
          in history
        </p>
        <button class="faq__list-li--img">
          <img src="./images/Group 93.svg" alt="" />
        </button>
      </div>
        <div class="faq__list-li--info">
         <p class="faq__list-li--two">Sed in 
          sem pellentesque, 
          eleifend erat vitae, 
          tincidunt turpis. Pellentesque augue elit, rutrum 
          sit amet commodo vel, porta quis purus. 
          Nullam faucibus, odio eu bibendum auctor,
           eros dolor aliquet purus, sit amet 
           pellentesque neque est id tortor. In egestas, 
           erat a dapibus dapibus, mi augue ornare lorem, 
           nec pretium ligula purus nec tellus. Aenean 
           a scelerisque nisi. Nullam pretium fermentum nunc,
            feugiat placerat urna rutrum eget. Nullam mattis 
            justo consequat risus. Donec imperdiet enim id 
            efficitur pharetra. Nam sollicitudin at est 
            eget auctor. Ut sed ante quis nulla tincidunt 
            auctor. Quisque accumsan pretium tincidunt. 
            Etiam viverra ultrices est vitae suscipit. 
            Pellentesque elementum purus non nisl pharetra 
            consequat. Nunc in venenatis orci.</p>
          </div>
      </li>
      <li class="faq__list-li">
         <div class="faq__list-li--first">
        <p class="faq__list-li--text">
          Quotations from the great works of literature
        </p>
        <button class="faq__list-li--img">
          <img src="./images/Group 93.svg" alt="" />
        </button>
      </div>
        <div class="faq__list-li--info">
         <p class="faq__list-li--two">Sed in 
          sem pellentesque, 
          eleifend erat vitae, 
          tincidunt turpis. Pellentesque augue elit, rutrum 
          sit amet commodo vel, porta quis purus. 
          Nullam faucibus, odio eu bibendum auctor,
           eros dolor aliquet purus, sit amet 
           pellentesque neque est id tortor. In egestas, 
           erat a dapibus dapibus, mi augue ornare lorem, 
           nec pretium ligula purus nec tellus. Aenean 
           a scelerisque nisi. Nullam pretium fermentum nunc,
            feugiat placerat urna rutrum eget. Nullam mattis 
            justo consequat risus. Donec imperdiet enim id 
            efficitur pharetra. Nam sollicitudin at est 
            eget auctor. Ut sed ante quis nulla tincidunt 
            auctor. Quisque accumsan pretium tincidunt. 
            Etiam viverra ultrices est vitae suscipit. 
            Pellentesque elementum purus non nisl pharetra 
            consequat. Nunc in venenatis orci.</p>
          </div>
      </li>
      <li class="faq__list-li">
         <div class="faq__list-li--first">
        <p class="faq__list-li--text">
          Read quotes and sayings from famous people in history
        </p>
        <button class="faq__list-li--img">
          <img src="./images/Group 93.svg" alt="" />
        </button>
      </div>
        <div class="faq__list-li--info">
         <p class="faq__list-li--two">Sed in 
          sem pellentesque, 
          eleifend erat vitae, 
          tincidunt turpis. Pellentesque augue elit, rutrum 
          sit amet commodo vel, porta quis purus. 
          Nullam faucibus, odio eu bibendum auctor,
           eros dolor aliquet purus, sit amet 
           pellentesque neque est id tortor. In egestas, 
           erat a dapibus dapibus, mi augue ornare lorem, 
           nec pretium ligula purus nec tellus. Aenean 
           a scelerisque nisi. Nullam pretium fermentum nunc,
            feugiat placerat urna rutrum eget. Nullam mattis 
            justo consequat risus. Donec imperdiet enim id 
            efficitur pharetra. Nam sollicitudin at est 
            eget auctor. Ut sed ante quis nulla tincidunt 
            auctor. Quisque accumsan pretium tincidunt. 
            Etiam viverra ultrices est vitae suscipit. 
            Pellentesque elementum purus non nisl pharetra 
            consequat. Nunc in venenatis orci.</p>
          </div>
      </li>
      <li class="faq__list-li">
         <div class="faq__list-li--first">
        <p class="faq__list-li--text">Collected quotes from Albert Einstein</p>
        <button class="faq__list-li--img">
          <img src="./images/Group 93.svg" alt="" />
        </button>
      </div>
        <div class="faq__list-li--info">
         <p class="faq__list-li--two">Sed in 
          sem pellentesque, 
          eleifend erat vitae, 
          tincidunt turpis. Pellentesque augue elit, rutrum 
          sit amet commodo vel, porta quis purus. 
          Nullam faucibus, odio eu bibendum auctor,
           eros dolor aliquet purus, sit amet 
           pellentesque neque est id tortor. In egestas, 
           erat a dapibus dapibus, mi augue ornare lorem, 
           nec pretium ligula purus nec tellus. Aenean 
           a scelerisque nisi. Nullam pretium fermentum nunc,
            feugiat placerat urna rutrum eget. Nullam mattis 
            justo consequat risus. Donec imperdiet enim id 
            efficitur pharetra. Nam sollicitudin at est 
            eget auctor. Ut sed ante quis nulla tincidunt 
            auctor. Quisque accumsan pretium tincidunt. 
            Etiam viverra ultrices est vitae suscipit. 
            Pellentesque elementum purus non nisl pharetra 
            consequat. Nunc in venenatis orci.</p>
          </div>
      </li>
    </ul>
  </div>
</section>
