<section class="footer">
   <div class="footer__container">
      <div class="footer__logo">
         <a class = "logo_link"href="#">
            <img class = "logo-link_img" src="./images/FooterSkobka.svg" alt="logo" width='30px' height="49px">
            <h2 class="logo-text1">DubaiRealty</h2>
            <p class="logo-text2">Real Estate</p>
         </a>
      </div>
      <ul class="footer__container-list">
         <li class="footer__container-list--li"></li>
         <li class="footer__container-list--li"></li>
         <li class="footer__container-list--li"></li>
         <li class="footer__container-list--li"></li>
      </ul>
      <div class="contact">
         <p class="contact__title">Contact</p>
         <p class="contact__info">964 Worthington Drive
            Dubai, UAE</p>
            <a href="mailto:dubairealty@mail.com"><p class="contact__mail">dubairealty@mail.com</p></a>
      </div>
      <button class="footer__container-button">Book a consultation</button>
   </div>
</section>