<section class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a class="logo__link" href="#">
        <img
          class="logo__link_img"
          src="./images/logo.png"
          alt="logo"
          width="30px"
          height="49px"
        />
        <h2 class="logo__text1">DubaiRealty</h2>
        <p class="logo__text2">Real Estate</p>
      </a>
    </div>
    <div class="footer__navigation-container">
      <ul class="footer__navigation--all-ul">
        <li class="footer__nav--item">
          <div class="footer__nav--item-title"><p>Buy</p><img class="footer__nav-strelochka" src="./images/footerStrelka.svg" alt="img"></div>
          <div class="footer__nav--item-div">
            <ul class="footer__nav--item-div--ul">
              <li class="burger__open-buy--li">Apartment in Dubai</li>
              <li class="burger__open-buy--li">House in Dubai</li>
              <li class="burger__open-buy--li">Apartments in Dubai</li>
              <li class="burger__open-buy--li">Loft in Dubai</li>
              <li class="burger__open-buy--li">Penthouse in Dubai</li>
              <li class="burger__open-buy--li">Villa in Dubai</li>
            </ul>
          </div>
        </li>
      </ul>
      <ul>
        <li class="footer__nav--item">
          <div class="footer__nav--item-title"><p>Services</p><img class="footer__nav-strelochka" src="./images/footerStrelka.svg" alt="img"></div>
          <div class="footer__nav--item-div">
            <ul class="footer__nav--item-div--ul">
              <li class="burger__open-buy--li">
                Property management in Dubai, UAE
              </li>
              <li class="burger__open-buy--li">
                Sell ​​property in Dubai, UAE
              </li>
              <li class="burger__open-buy--li">Rent property in Dubai, UAE</li>
              <li class="burger__open-buy--li">Investments in Dubai, UAE</li>
              <li class="burger__open-buy--li">
                Real estate for cryptocurrency in Dubai
              </li>
              <li class="burger__open-buy--li">Moving to Dubai, UAE</li>
            </ul>
          </div>
        </li>
      </ul>
      <ul>
        <li class="footer__nav--item">
          <div class="footer__nav--item-title"><p>Information</p><img class="footer__nav-strelochka" src="./images/footerStrelka.svg" alt="img"></div>
          <div class="footer__nav--item-div">
            <ul class="footer__nav--item-div--ul">
              <li class="burger__open-buy--li">Video</li>
              <li class="burger__open-buy--li">Podcasts</li>
              <li class="burger__open-buy--li">Laws</li>
              <li class="burger__open-buy--li">Questions and answers</li>
              <li class="burger__open-buy--li">Books</li>
              <li class="burger__open-buy--li">Articles</li>
            </ul>
          </div>
        </li>
      </ul>
      <ul>
        <li class="footer__nav--item">
          <div class="footer__nav--item-title"><p>About company</p><img class="footer__nav-strelochka" src="./images/footerStrelka.svg" alt="img"></div>
          <div class="footer__nav--item-div">
            <ul class="footer__nav--item-div--ul">
              <li class="burger__open-buy--li">Jobs</li>
              <li class="burger__open-buy--li">Story</li>
              <li class="burger__open-buy--li">Licenses</li>
              <li class="burger__open-buy--li">Why are we</li>
              <li class="burger__open-buy--li">Real estate agency</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="contact">
      <p class="contact__title-footer">Contact</p>
      <p class="contact__info-footer">964 Worthington Drive Dubai, UAE</p>
      <a href="mailto:dubairealty@mail.com">
         <p class="contact__mail-footer">dubairealty@mail.com</p></a>
    </div>
    <button class="footer__container-button">Book a consultation</button>
    
   </div>
</section>

<section>
   <div class="decoration"></div>
    <div class="footer__links-last">
      <div class="for__border-top">
     <ul class="list__from-header">
        <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#facebook"></use></svg></a></li>
        <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#twitter"></use></svg></a></li>
        <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#youtube"></use></svg></a></li>
        <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#instagram"></use></svg></a></li>
        <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#linkedin"></use></svg></a></li>
     </ul>
   </div>   
   <p class="last">Copyright © 2022 Dubai Realty</p>
      </div>
</section>
