<header class="header">
   <div class="container">
         <div class="logo">
            <a class = "logo__link"href="#">
               <img class = "logo__link_img" src="./images/logo.png" alt="logo" width='30px' height="49px">
               <h2 class="logo__text1">DubaiRealty</h2>
               <p class="logo__text2">Real Estate</p>
            </a>
            <div class="burger">
               <nav class="menu">
                  <ul class="menu__ul">
                     <li class="menu__ul-li menu__ul-li---active menu__ul-li--down">
                     <div class="menu__ul-li--buy-img">
                     BUY<svg class="buy__images" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                     <path d="M4.82812 0.82843H9.65656L4.82812 5.65686L-0.000305211 0.82843H4.82812Z" fill="white"/>
                   </svg>
                     </div>
                  <ul class="burger__open-buy">
                     <li class="burger__open-buy--li">Category number one</li>
                     <li class="burger__open-buy--li">Apartments in Dubai</li>
                     <li class="burger__open-buy--li">Category number twenty five</li>
                  </ul>
                  </li>
                  <li class="menu__ul-li">BLOG</li>
                  <li class="menu__ul-li">ABOUT</li>
                  <li class="menu__ul-li">CONTACT</li>
               </ul>
            </nav>
            <div class="header__suppbox header__suppbox--none">
            <button class="logo__button"><p class="logo__button-text">Book a consultation</p></button>
            <a class="header__tel" href="tel:+72126742510"><p>+7 (212) 674-25-10</p></a>
            <ul class="header__suppbox-language">
               <li class="header__suppbox-language-li--active">En</li>
               <li class="header__suppbox-language-li">Ua</li>
            </ul>
            </div>
         </div>
         <div class="header__suppbox header__suppbox--none-mobile">
            <button class="logo__button"><p class="logo__button-text">Book a consultation</p></button>
            <ul class="header__suppbox-language">
               <li class="header__suppbox-language-li--active">En</li>
               <li class="header__suppbox-language-li">Ua</li>
            </ul>
            <a class="header__tel" href="tel:+72126742510"><p>+7 (212) 674-25-10</p></a>
            </div>
            <button type="button" class="button__menu" data-open="false">
               <img class="button__menu-image-1" src="images/Icon.svg" alt="burger" fill="#000"/>
               <img class="button__menu-image-2" src="images/X.svg" alt="burger" fill="#000"/>
            </button>
         </div>
   </div>
   <div class="consultation__window">
      <div class="consultation__window--polotno">
         <h2 class="consultation__window--title">Leave your contacts</h2>
         <p class="consultation__window--text">we will contact you within three hours</p>
         <form class="consultation__window--form" action="">
               <input class="consultation__window--span" type="text" placeholder="Name">
               <input class="consultation__window--span"  type="text" placeholder="Phone">
            <button class="consultation__window--button" type="submit">Send</button>
         </form>
         <button class="consultation__window--knopka"><img src="images/Cross.svg" alt="closed"></button>
      </div>
   </div>
</header>