<header class="header">
   <div class="container">
         <div class="logo">
            <a class = "logo_link"href="#">
               <img class = "logo--link-img" src="./images/Logo.png" alt="logo" width='30px' height="49px">
               <h2 class="logo-text1">DubaiRealty</h2>
               <p class="logo-text2">Real Estate</p>
            </a>
            <nav class="menu">
               <button type="button">
                  <img src="images/Icon.svg" alt="burger" fill="#000"/>
               </button>
            </nav>
         </div>
   </div>
</header>