<section>
   <div class="container">
      <div class="hero__container">
         <div class="hero__title-box">
            <div>
            <h2 class="hero__subtitle">Lorem ipsum</h2>
            <h1 class="hero__title">Welcome home <span class="hero__title--accent">to</span> luxury</h1>
            </div>
            <a class="hero__title-link" href="/">Book a consultation<img class="hero__title-link-svg" src="images/Arrow.svg" alt="burger" fill="#fff"/></a>
            <div class="hero__title-palka"></div>
         </div>
         <div class="hero__button-list">
            <button type="button" class="hero__button">PREV</button>
            |
            <button type="button" class="hero__button hero__button--disabled">NEXT</button>
         </div>
      </div>

      <ul class="hero__list">
         <li><span>01</span><p>Lorem Ipsum
            Dolorem apset</p></li>
         <li><span>02</span><p>Lorem Ipsum
            Dolorem apset</p></li>
         <li><span>03</span><p>Lorem Ipsum
            Dolorem apset</p></li>
      </ul>
   </div>
</section>