<section>
   <div class="container relative">
      <div class="hero__container ">
         <ul class="hero__sociall-links">
            <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#facebook"></use></svg></a></li>
            <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#twitter"></use></svg></a></li>
            <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#youtube"></use></svg></a></li>
            <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#instagram"></use></svg></a></li>
            <li><a class="hero__sociall-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"  class="hero__sociall-links--icons"  alt="socials-icons"><use xlink:href="images/symbol-defs.svg#linkedin"></use></svg></a></li>
         </ul>
         <div class="hero__title-box">
            <div>
            <h2 class="hero__subtitle">Lorem ipsum</h2>
            <h1 class="hero__title">Welcome home <br><span class="hero__title--accent">to</span> luxury</h1>
            </div>
            <a class="hero__title-link" href="/">Book a consultation<img class="hero__title-link-svg" src="images/Arrow.svg" alt="burger"/></a>
            <div class="hero__title-palka"></div>
         </div>
         <div class="hero__button-list">
            <button type="button" class="hero__button">PREV</button>
            |
            <button type="button" class="hero__button hero__button--disabled">NEXT</button>
         </div>
      </div>

      <ul class="hero__list">
         <li class="hero__list-li"><span class="hero__list-number hero__list-number--active">01</span><p class="hero__list-text">Lorem Ipsum
            Dolorem apset</p></li>
         <li class="hero__list-li"><span class="hero__list-number">02</span><p class="hero__list-text">Lorem Ipsum
            Dolorem apset</p></li>
         <li class="hero__list-li"><span class="hero__list-number">03</span><p class="hero__list-text">Lorem Ipsum
            Dolorem apset</p></li>
         </ul>
   </div>
</section>