<section class="methods">
  <div class="methods__container">
   <p><span>Service</span> Buying property in Dubai</p>
    <p>
      This response is important for our ability to learn from mistakes, but it
      alsogives rise to self-criticism, because it is part of the
      threat-protection system. In other words, what keeps us safe can go too
      far, and keep us too safe. In fact it can trigger self-censoring.
    </p>

    <p>
      One touch of a red-hot stove is usually all we need to avoid that kind of
      discomfort in the future. The same is true as we experience the emotional
      sensation of stress from our first instances of social rejection or
      ridicule. We quickly learn to fear and thus automatically avoid
      potentially stressful situations of all kinds, including the most common
      of all:
    </p>

    <p>
      This response is important for our ability to learn from mistakes, but it
      alsogives rise to self-criticism, because it is part of the
      threat-protection system. In other words, what keeps us safe can go too
      far, and keep us too safe. In fact it can trigger self-censoring.
    </p>

    <p>
      One touch of a red-hot stove is usually all we need to avoid that kind of
      discomfort in the future. The same is true as we experience the emotional
      sensation of stress from our first instances of social rejection or
      ridicule. We quickly learn to fear and thus automatically avoid
      potentially stressful situations of all kinds, including the most common
      of all:
    </p>
    <img class="skyscraper" src="./images/skyscraper.png" alt="skyscraper" />
    <h2>Methods for Everyone</h2>
    <p>
      Everything along the way, to and from, fascinated her: every pebble, ant,
      stick, leaf, blade of grass, and crack in the sidewalk was something to be
      picked up, looked at, tasted, smelled, and shaken. Everything was
      interesting to her. She knew nothing. I knew everything…been there, done
      that. She was in the moment, I was in the past. She was mindful. I was
      mindless.
    </p>

    <p>
      One touch of a red-hot stove is usually all we need to avoid that kind of
      discomfort in the future. The same is true as we experience the emotional
      sensation of stress from our first instances of social rejection or
      ridicule. We quickly learn to fear and thus automatically avoid
      potentially stressful situations of all kinds, including the most common
      of all: making mistakes.
    </p>
    <div class="border__yellow">
      <div>
        <p>
          Our greatest weakness lies in giving up. The most certain way to
          succeed is always to try just one more time. emotional sensation of
          stress from our firs
        </p>
        <p>Paul Elite Author</p>
      </div>
    </div>
  </div>
</section>
