<section class="owners">
   <div class="owners__container">
      <ul>
            <li class="owners__wrapper">
            <img class="owners__pfoto" src="./images/about10 1.png" alt="about">
            <div class="owners__information">
                <h3 class="owners__name">Paul</h3>
                  <p class="owners__link">Owner in <span class="owners__link--a">Paul.com</span></p>
                <p class="owners__text">Projects for many large domestic and foreign corporations, 
                  enterprises in many elds such as nance, banking, F&B, 
                  education, communication.</p>
            </li>
      </ul>
      <div class="owners__pagination">
         <button class="owners__pagination--button-active"></button>
         <button class="owners__pagination--button"></button>
         <button class="owners__pagination--button"></button>
      </div>
   </div>
</section>