<section class="owners">
   <div class="owners__container">
      <ul class="owners__wrapper--list">
            <li class="owners__wrapper">
               <div class="owners__information">
               <img class="owners__pfoto" src="./images/about10 1.png" alt="about">
               <span class="koma">&#8222;</span>
                <h3 class="owners__name">Paul</h3>
                  <p class="owners__link">Owner in <span class="owners__link--a">Paul.com</span></p>
                <p class="owners__text">Projects for many large domestic and foreign corporations, 
                  enterprises in many elds such as nance, banking, F&B, 
                  education, communication.</p>
            </li>
            <li class="owners__wrapper">
               <div class="owners__information">
               <img class="owners__pfoto" src="./images/Tom.png" alt="about">
               <span class="koma">&#8222;</span>
                <h3 class="owners__name">Robert</h3>
                  <p class="owners__link">Founder in <span class="owners__link--a">Apple inc.</span></p>
                <p class="owners__text">Founded in 2007, Sparch is specializing in providing innovative 
                  services such as website design, brand identity and marketing
               </p>
            </li>
            <li class="owners__wrapper">
               <div class="owners__information">
               <img class="owners__pfoto" src="./images/about10 1.png" alt="about">
               <span class="koma">&#8222;</span>
                <h3 class="owners__name">Paul</h3>
                  <p class="owners__link">Owner in <span class="owners__link--a">Paul.com</span></p>
                <p class="owners__text">Projects for many large domestic and foreign corporations, 
                  enterprises in many elds such as nance, banking, F&B, 
                  education, communication.</p>
            </li>
            <li class="owners__wrapper">
               <div class="owners__information">
               <img class="owners__pfoto" src="./images/about10 1.png" alt="about">
               <span class="koma">&#8222;</span>
                <h3 class="owners__name">Paul</h3>
                  <p class="owners__link">Owner in <span class="owners__link--a">Paul.com</span></p>
                <p class="owners__text">Projects for many large domestic and foreign corporations, 
                  enterprises in many elds such as nance, banking, F&B, 
                  education, communication.</p>
            </li>
            <li class="owners__wrapper">
               <div class="owners__information">
               <img class="owners__pfoto" src="./images/Tom.png" alt="about">
               <span class="koma">&#8222;</span>
                <h3 class="owners__name">Robert</h3>
                  <p class="owners__link">Founder in <span class="owners__link--a">Apple inc.</span></p>
                <p class="owners__text">Founded in 2007, Sparch is specializing in providing innovative 
                  services such as website design, brand identity and marketing
               </p>
            </li>
      </ul>
      <div class="owners__pagination">
         <button class="owners__pagination--button-active"></button>
         <button class="owners__pagination--button"></button>
         <button class="owners__pagination--button"></button>
      </div>
   </div>
</section>