<section>
  <div class="container relative">
   <div class="container__title-box">
    <h2 class="container__title">All Apartments <br>Category</h2>
   </div>
    <ul class="projects__menu-images">
      <li class="projects__menu-images-li">
        <img src="./images/newlast1.png" alt="villas" />
        <h3 class="projects__menu-images-li-text">Townhous</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Townhous
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/newlast2.png" alt="villas" />
        <h3 class="projects__menu-images-li-text">Villa</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villa
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/newlast3.png" alt="houses" />
        <h3 class="projects__menu-images-li-text">Commercial</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Commercial
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/428x573 (1).png" alt="villas" />
        <h3 class="projects__menu-images-li-text">Apartments</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Apartments
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
         <img src="./images/428x573.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/images2222.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">hz</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               hz
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/428x57safasf.png" alt="houses" />
         <h3 class="projects__menu-images-li-text">Houses</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Houses
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/hata2.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/images333.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/428x573.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/428x573.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">hz</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               hz
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/428x57safasf.png" alt="houses" />
         <h3 class="projects__menu-images-li-text">Houses</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Houses
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
    </ul>
    <div class="projects__pagination">
      <button class="projects__pagination-li projects__pagination-li--current"></button>
      <button class="test1 projects__pagination-li"></button>
      <button class="test0 projects__pagination-li"></button>
    </div>
  </div>
</section>
