<section>
  <div class="container relative">
   <div class="container__title-box">
    <h2 class="container__title">Latest projects</h2>
    <ul class="projects__menu">
      <li class="projects__menu-item projects__menu-item--yellow">All</li>
      <li class="projects__menu-item">Building</li>
      <li class="projects__menu-item">Interior</li>
      <li class="projects__menu-item projects__menu-item--disabled">View all projects</li>
    </ul>
   </div>
    <ul class="projects__menu-images">
      <li class="projects__menu-images-li">
        <img src="./images/428x573.png" alt="villas" />
        <h3 class="projects__menu-images-li-text">Villas</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
              Villas
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/428x573.png" alt="villas" />
        <h3 class="projects__menu-images-li-text">hz</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
              hz
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/428x57safasf.png" alt="houses" />
        <h3 class="projects__menu-images-li-text">Houses</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
              Houses
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
        <img src="./images/images1.png" alt="villas" />
        <h3 class="projects__menu-images-li-text">Villas</h3>
        <div class="projects__menu-images-description">
          <div>
            <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
              Villas
            </h3>
            <p class="projects__menu-images-description-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
              molestie integer aliquam consectetur. Faucibus vitae dui massa
              tellus magna sit.
            </p>
          </div>
          <a class="projects__menu-images-description-link" href="/"
            >See project &#62;</a>
        </div>
      </li>
      <li class="projects__menu-images-li">
         <img src="./images/428x573.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/images2222.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">hz</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               hz
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/428x57safasf.png" alt="houses" />
         <h3 class="projects__menu-images-li-text">Houses</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Houses
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/hata2.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
       <li class="projects__menu-images-li">
         <img src="./images/images333.png" alt="villas" />
         <h3 class="projects__menu-images-li-text">Villas</h3>
         <div class="projects__menu-images-description">
           <div>
             <h3 class="projects__menu-images-li-text projects__menu-images-li-text--dark">
               Villas
             </h3>
             <p class="projects__menu-images-description-text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
               molestie integer aliquam consectetur. Faucibus vitae dui massa
               tellus magna sit.
             </p>
           </div>
           <a class="projects__menu-images-description-link" href="/"
             >See project &#62;</a>
         </div>
       </li>
    </ul>
    <ul class="projects__pagination">
      <li class="projects__pagination-li projects__pagination-li--current"></li>
      <li class="projects__pagination-li"></li>
      <li class="projects__pagination-li"></li>
    </ul>
  </div>
</section>
